.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .carousel-image {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .carousel-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
  }
  
  .carousel-btn:hover {
    background-color: grey;
  }
  